<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Studio Lock | Book Studio Time</title>
    <meta content="Book studio time for your music recording and production with our user-friendly platform. Our state-of-the-art studios are equipped with the latest technology to give your tracks the professional sound they deserve. Find the perfect studio for your project and book online today!" name="description">
    <meta content="studio time, music recording, production, studios, music, recording, production, book, online, professional sound" name="keywords">


    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="static/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var $j = jQuery.noConflict();
    </script>

    <!-- BOOTSTRAP JS  -->
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><span>support@studiolock.us</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a> -->
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="/">Studio Lock</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#studios">Studios</a></li>
                    <li><a href="/#contact">Contact</a></li>
                    {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.signup') }}">Signup</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        {% block content %}
        {% endblock %}

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 text-center text-lg-left">
                        <h3>Book studio time <span>now</span>!</h3>
                        <p>All users can book studio time, anytime. Click the button to get started.</p>
                        <a class="cta-btn align-middle" href="{{ url_for('main.booking') }}">Book Now</a>
                    </div>

                </div>

            </div>
        </section><!-- End Cta Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="studios" class="portfolio">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2><strong>Studios</strong></h2>
                    <p>Whether you're a solo artist or a full band, we have spaces that can accommodate your needs and
                        help you achieve your vision. From spacious live rooms to soundproofed isolation booths, our
                        studios offer the versatility and flexibility you need to bring your music to life.</p>
                </div>

                <!-- <div class="row" data-aos="fade-up">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">Card</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div> -->
                <br>

                <div class="row portfolio-container" data-aos="fade-up">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="static/img/fastlife/FL4.png" class="img-fluid same-height" alt="">
                        <div class="portfolio-info">
                            <h4>Fastlife Studios</h4>
                            <!-- <p>App</p> -->
                            <a href="static/img/fastlife/FL4.png" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="Fastlife Studios"><i
                                    class="bx bx-plus"></i></a>
                            <a href="/studio_details?studio_name=Fastlife" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <img src="static/img/breezi/_DSC4551.jpg" class="img-fluid same-height" alt="">
                        <div class="portfolio-info">
                            <h4>Breezi Studios</h4>
                            <!-- <p>Web</p> -->
                            <a href="static/img/breezi/_DSC4551.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="Breezi Studios"><i
                                    class="bx bx-plus"></i></a>
                            <a href="/studio_details?studio_name=Breezi" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="static/img/bullpen/bullpen.png" class="img-fluid same-height" alt="">
                        <div class="portfolio-info">
                            <h4>The Bullpen</h4>
                            <!-- <p>App</p> -->
                            <a href="static/img/bullpen/bullpen.png" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="The Bullpen"><i
                                    class="bx bx-plus"></i></a>
                            <a href="/studio_details?studio_name=Bullpen" class="details-link" title="More Details"><i
                                    class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3>We've booked more than <span>10,000 hours</span> of studio time this year!</h3>
                        <p> If you are a studio, please reach out to be listed on our platform.</p>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="request-signup" tabindex="-1" role="dialog" aria-labelledby="requestSignupLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="requestSignupLabel">Request Signup</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form id="request-signup-form">
                                    <div class="form-group">
                                      <label for="studioName">Studio Name</label>
                                      <input type="text" class="form-control" id="studioName" name="studioName" placeholder="Enter your studio name">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                      <label for="studioLocation">Studio Location</label>
                                      <input type="text" class="form-control" id="studioLocation" name="studioLocation" placeholder="Enter your studio location">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                      <label for="studioEmail">Studio Email</label>
                                      <input type="text" class="form-control" id="studioEmail" name="studioEmail" placeholder="Enter your studio email">
                                    </div>
                                </form>
                                
                                <p style="display: none;" id="request-signup-response"></p>
                            </div>
                            <div class="modal-footer">
                                <div id="request-signup-load" style="display: none; margin: auto;">
                                    <div class="spinner-grow" role="status" ></div>
                                    <div class="spinner-grow" role="status" ></div>
                                    <div class="spinner-grow" role="status" ></div>
                                </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="request-signup-closeModal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="requestSignup(event);" id="request-signup-btn">Submit</button>
                            </div>
                        </div>
                        </div>
                    </div>
  
  

                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#" data-toggle="modal" data-target="#request-signup">Request Signup</a>
                    </div>
                </div>

            </div>
        </section><!-- End Cta Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" style="color: #fff; padding-top: 60px; padding-bottom: 60px;">
            <div class="container">
                <div class="row justify-content-center" style="text-align: center;">
                    <h2 class="card-title" style="margin-bottom: 30px; color: #574741;">Contact Us</h2>
                    <p class="card-text" style="margin-bottom: 30px; color: #574741;">Use the form below to send us a
                        message and we will get back to you as soon as possible.</p>
                    <div class="col-md-8">
                        <div class="card" style="box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
                            <div class="card-body" style="text-align: center;">


                                <div class="form-group" style="margin-bottom: 20px;">
                                    <label for="name" style="color: #f03c02;">Name</label>
                                    <input type="text" class="form-control" id="contact-form-name"
                                        placeholder="Your name" name="name" required>
                                </div>
                                <div class="form-group" style="margin-bottom: 20px;">
                                    <label for="email" style="color: #f03c02;">Email</label>
                                    <input type="email" class="form-control" id="contact-form-email"
                                        placeholder="Your email" name="email" required>
                                </div>
                                <div class="form-group" style="margin-bottom: 20px;">
                                    <label for="subject" style="color: #f03c02;">Subject</label>
                                    <input type="text" class="form-control" id="contact-form-subject"
                                        placeholder="Subject" name="subject" required>
                                </div>
                                <div class="form-group" style="margin-bottom: 20px;">
                                    <label for="message" style="color: #f03c02;">Message</label>
                                    <textarea class="form-control" id="contact-form-message" rows="3"
                                        placeholder="Your message" name="message" required></textarea>
                                </div>
                                <div id="contact-form-respdiv" class="text-center" style="display: none;">
                                    <p id="contact-form-response" style="color: black;"></p>
                                </div>
                                <div id="sendmailLoadBTN" style="display: none;">
                                    <div class="spinner-grow" role="status" style="color: black;">

                                    </div>

                                    <div class="spinner-grow" role="status" style="color: black;">

                                    </div>

                                    <div class="spinner-grow" role="status" style="color: black;">

                                    </div>
                                </div>

                                <button type="submit" id="submit-button" class="btn btn-primary"
                                    style="background-color: #f03c02; border-color: #f03c02;" onclick="sendMail();">Send
                                    Message</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->

        <!-- ======= FAQ Section ======= -->
        <section id="FAQ">
            <div class="container">
                <h2>Frequently Asked Questions</h2>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    How do I book a studio session?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                To book a studio session, simply navigate to the booking page on our website and select
                                the date and time that you would like to reserve. Follow the prompts to complete the
                                booking process and pay for your session.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    How do I pay for a studio session?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Payment for studio sessions are handled securely via Stripe.
                            </div>
                        </div>
                    </div>
                    <!-- Additional FAQs go here -->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Can I cancel or reschedule my booking?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                If you need to cancel or reschedule your booking, you can do so by contacting the studio
                                directly or by reaching out to our customer support team. Please note that cancellation
                                policies may vary by studio, so be sure to read the terms and conditions carefully
                                before booking.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What equipment is provided at the studio?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Each studio's equipment list is displayed on the studio's listing page on our platform.
                                If you have specific equipment requirements, we recommend reaching out to the studio
                                directly to confirm that they have what you need.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    How do I know if a studio is available for my desired date and time?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                The availability of each studio is stored in our database. Simply select the date and
                                time that you are interested in to see if the studio is available.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- End FAQ Section -->


    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Studio Lock</h3>
                        <p>
                            <strong>Email:</strong> support@studiolock.us<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/#FAQ">FAQ</a></li>

                            <!-- Modal -->
                            <div class="modal fade" id="cancellation-policy" tabindex="-1" role="dialog"
                                aria-labelledby="cancellationPolicyLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="cancellationPolicyLabel">Cancellation Policy
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <strong><p>Our cancellation policy is as follows:</p></strong>
                                            <ul>
                                                <li>Cancellations made more than 48 hours in advance will receive a full
                                                    refund.</li>
                                                <li>Cancellations made within 48 hours of the start time will not be
                                                    eligible for a refund.</li>
                                                <li>To cancel a booking please reach out to our support team, or contact the studio directly.</li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <li><i class="bx bx-chevron-right"></i> <a href="#" data-toggle="modal"
                                    data-target="#cancellation-policy">Cancellation Policy</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy Policy</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of Service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/#contact">Customer Support</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Don't miss out on exclusive deals and insider information. Sign up for our newsletter and be
                            the first to know about new products, sales, and events.</p>
                        <div id="subscribe-load" style="display: none;" class="text-center">
                            <div class="spinner-grow" role="status" style="color: white;"></div>
                            <div class="spinner-grow" role="status" style="color: white;"></div>
                            <div class="spinner-grow" role="status" style="color: white;"></div>
                        </div>
                        <form>
                            <input type="email" name="subscriber-email" id="subscriber-email" required><input
                                type="submit" value="Subscribe" onclick="subscribe(event);" id="subBTN">
                        </form>
                        <p style="display: none;" id="response"></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Studio Lock</span></strong>. All Rights Reserved
                </div>

            </div>
            <!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div> -->
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Main JS File -->
    <script src="static/js/main.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</body>

</html>