{% extends "base.html" %}

{% block content %}
<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

  <div class="carousel-inner" role="listbox">

    <!-- Slide 1 -->
    <div class="carousel-item active" style="background-image: url(static/img/studios/two.jpg);">
      <div class="carousel-container">
        <div class="carousel-content animate__animated animate__fadeInUp">
          <h2>Welcome to <span>Studio Lock</span></h2>
          <p>It has never been easier to book a recording studio in NYC. Choose from our wide range of options, and
            secure your next hit making session.</p>
          <div class="text-center"><a href="{{ url_for('main.booking') }}" class="btn-get-started">Book Now</a></div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item" style="background-image: url(static/img/studios/one.jpg);">
      <div class="carousel-container">
        <div class="carousel-content animate__animated animate__fadeInUp">
          <h2>Fastlife Studios</h2>
          <p>Book Fastlife Studios now! Located at 8th & 49th in the heart of NYC.</p>
          <div class="text-center"><a href="{{ url_for('main.booking') }}" class="btn-get-started">Book Now</a></div>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item" style="background-image: url(static/img/studios/three.jpg);">
      <div class="carousel-container">
        <div class="carousel-content animate__animated animate__fadeInUp">
          <h2>Breezi Studios</h2>
          <p>Book Breezi Studios now! Located at 5th & 37th in the heart of NYC.</p>
          <div class="text-center"><a href="{{ url_for('main.booking') }}" class="btn-get-started">Book Now</a></div>
        </div>
      </div>
    </div>

  </div>

  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
  </a>

  <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
  </a>

  <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

</div>
{% endblock %}