{% extends "base.html" %}

{% block content %}
<div class="login-box">
  {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
  {% endwith %}
  <h3>Login</h3>
  <form method="POST" action="/login_post" id="myForm-login">
    <div class="user-box">
      <input type="text" name="username" required>
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required>
      <label>Password</label>
    </div>
    <a class="submit-login" href="#" id="login-btn" onclick="submitLogin();">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
  <script type="text/javascript" src="static/js/login.js"></script>
</div>
{% endblock %}
