{% extends "base.html" %}

{% block content %}
<div class="card text-center" id="profile">
    <div class="card-header">
      Welcome, {{ name }}!
    </div>
    <div class="card-body">
      <br>
      <h5 style="margin-bottom: 25px;">My Bookings</h5>
      <table class="table table-striped">
        {% if bookings %}
        <thead>
          <tr id="profile-th">
            <th scope="col">Date</th>
            <th scope="col">Studio</th>
            <th scope="col">Time</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {% for b in bookings %}
          <tr id="profile-tr">
            <th scope="row">{{ b.date }}</th>
            <td>{{ b.studio_name }}</td>
            <td>{{ b.time_slot }}</td>
            <td>$ {{ b.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
        {% endif %}

        {% if not bookings %}
        <h3>You have no booking history. Checkout our <a href="/#studios" id="profile-get-started-btn">studios</a> to get started!</h3>
        {% endif %}
      </table>
    </div>
  </div>
{% endblock %}